:root {
    --background-color: #041014;    
    --accent-color: #cedbdf;

}

* {
    font-family: Helvetica;
}


/*body{
    background-color: var(--background-color);
}

form{
    background-color: var(--accent-color);
}

.clearbg-form{
    background-color: var(--background-color);
}

.content{
    background-color: var(--accent-color);
}

.title{
    color:var(--accent-color);
}*/